//Monokai風
//$baseColor: #272822;
//$baseColor: #333333;
//$subColor1: #00b6c9;
//$subColor2: #A6DE2A;
//$subColor3: #268BD3;
//$subColor5: #A881FF;
//$bodyColor: #FDF6E3;
//$accentColor: #F52769;
//$baseFontColor: #DDD;

//Monokai風
$baseColor: #333;
$subColor1: #268BD3;
$subColor2: #F52769;
$subColor3: #268BD3;
$subColor5: #A881FF;
$bodyColor: #FFF5E4;
$accentColor: #F52769;
$baseFontColor: #666;
//
//$baseColor: #FFF5E4;
//$subColor2: #D30037;
//$subColor1: #268BD3;
//$subColor3: #647B83;
//$subColor4: #859900;
//$subColor5: #00d79e;
//$bodyColor: #FDF6E3;
//$accentColor: #D30037;
//$baseFontColor: #647B83;
//$subFontColor: #FDF6E3;
//$clearBlack: rgba(0, 0, 0, 0.73);
//$clearBody: rgba(255, 246, 192, 0.73);

